html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
}

.pagination-700px-width {
    width: 900px;
    height: 50px
}



.table > tbody > tr {
    height: 80px
}

    .table > tbody > tr > td {
        vertical-align: middle !important;
    }

.icon-add-endereco {
    font-size: 40px;
}

.icon-add-contato {
    font-size: 40px;
}

.form-group-h80px {
    height: 80px;
}

.tabela-contatos tr {
    height: 36px !important; /* ou outro valor desejado */
}

.tabela-contatos td, .tabela-contatos th {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 14px;
}

.campos-filtros {
    min-width: 200px;
    max-width: 300px;
    height: 80px;
}

.fs-12px {
    font-size: 12px;
}

.input-sem-borda {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    font-size: inherit;
    width: 100%;
}


/* Estiliza o campo fechado do Select2 */
.select2-container .select2-selection--single {
    height: 37px !important;
    display: flex !important;
    align-items: center !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    box-sizing: border-box;
}

.select2-selection__arrow {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
}

/* Garante que o texto esteja bem alinhado dentro do campo */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal !important;
    padding: 0 !important;
    margin: 0 !important;
}

.min-height-90px-input {
    min-height: 90px;
}

.min-height-70px-login-input {
    min-height: 70px;
}


.bgTelaLoginIACOUsina {
    background-image: url('/images/Iaco-usina-login.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
}
