html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.pagination-700px-width {
    width: 900px;
    height: 50px
}



.table > tbody > tr {
    height: 80px
}

    .table > tbody > tr > td {
        vertical-align: middle !important;
    }


.icon-add-colaborador {
    font-size: 40px;
}

.form-group-h80px {
    height: 80px;
}
/*
.acao {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}
    */
.campos-filtros {
    min-width: 200px;
    max-width: 300px;
    height: 80px;
}

.fs-12px {
    font-size: 12px;
}
