@using ListaTelefonicaIACOApp.ViewModels.Endereco
@model EnderecoCreateViewModel

@{
    ViewData["Title"] = "Adicionar Endereço - IACO";
}

<header style="height: 50px" class="d-flex w-100 justify-content-start">
    <div class="d-flex justify-content-start align-items-center h-100 w-100">
        <a style="background-color: #f9f9f9; border-radius: 5px; width: 60px; padding: 10px"
           class="d-flex h-100 justify-content-center align-items-center" asp-controller="Contato" asp-action="Create">
            <i style="font-size:30px" class="bi bi-arrow-left text-dark"></i>
        </a>
    </div>
</header>

<div style="padding:10px; gap:30px" class="d-flex flex-column">
    <h2>Adicionar novo endereço</h2>

    <form id="formCadastrarEndereco" class="row" method="post" asp-action="Create" asp-controller="Endereco" style="gap:30px">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row g-3 rounded-2 m-0 p-4" style="gap:20px; background-color: #f9f9f9">
            <h4>Dados do Endereço</h4>

            <div class="form-group col-md-6 min-height-90px-input m-0">
                <label asp-for="Endereco_Rua"></label>
                <input asp-for="Endereco_Rua" class="form-control m-0" placeholder="Ex: Rua das Flores" />
                <span asp-validation-for="Endereco_Rua" class="text-danger fs-12px"></span>
            </div>

            <div class="form-group col-md-3 min-height-90px-inpu m-0">
                <label asp-for="Endereco_Numero"></label>
                <input asp-for="Endereco_Numero" class="form-control" placeholder="Ex: 123" />
                <span asp-validation-for="Endereco_Numero" class="text-danger fs-12px"></span>
            </div>

            <div class="form-group col-md-3 min-height-90px-input m-0">
                <label asp-for="Endereco_Bairro"></label>
                <input asp-for="Endereco_Bairro" class="form-control" placeholder="Ex: Centro" />
                <span asp-validation-for="Endereco_Bairro" class="text-danger fs-12px"></span>
            </div>

            <div class="form-group col-md-6 min-height-90px-input m-0">
                <label asp-for="Endereco_Cidade"></label>
                <input asp-for="Endereco_Cidade" class="form-control" placeholder="Ex: São Paulo" />
                <span asp-validation-for="Endereco_Cidade" class="text-danger fs-12px"></span>
            </div>

            <div class="form-group col-md-6 min-height-90px-input m-0">
                <label asp-for="Endereco_CEP"></label>
                <input asp-for="Endereco_CEP" class="form-control CEP" placeholder="Ex: 01001-000" />
                <span asp-validation-for="Endereco_CEP" class="text-danger fs-12px"></span>
            </div>

            <div class="form-group col-md-12 min-height-90px-input m-0">
                <label asp-for="Endereco_Complemento"></label>
                <input asp-for="Endereco_Complemento" class="form-control" placeholder="Ex: Apt 101, Bloco B" />
                <span asp-validation-for="Endereco_Complemento" class="text-danger fs-12px"></span>
            </div>
        </div>

        <div style="height:50px" class="row d-flex justify-content-end col-auto w-100 m-0">
            <button type="button" id="btnCadastrarEndereco" class="btn btn-primary h-100 col-auto" style="min-width: 180px">
                Cadastrar Endereco
            </button>
        </div>
    </form>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer"></div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>



    <script>
        $(document).ready(function () {

            aplicarMascaras();

            $('#btnCadastrarEndereco').on('click', function (e) {
                e.preventDefault();

                let formClone = $('#formCadastrarEndereco').clone(true, true);

                formClone.find('input').each(function () {
                    // 'this' refers to the current input element
                    $(this).val($(this).val().trim());

                });

                if (!formClone.valid()) return;

                formClone.find('.CEP').val($('.CEP').cleanVal());

                const formData = new FormData(formClone[0]);

                $.ajax({
                    url: formClone.attr('action'),
                    type: formClone.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.sucesso) {
                            mostrarToast("Sucesso", "Endereco cadastrado com sucesso!", "success");
                            setTimeout(() => {
                                window.location.href = '/Contato/Create';
                            }, 2000);
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status === 409) {
                            const msg = xhr.responseJSON?.mensagem || "Já existe um endereco com dados duplicados.";
                            mostrarToast("Duplicidade", msg, "warning");

                        } else if (xhr.status === 400) {
                            let erros = xhr.responseJSON;
                            let mensagens = '';

                            for (const campo in erros) {
                                const mensagensCampo = erros[campo];
                                mensagensCampo.forEach(mensagem => {
                                    mensagens += `• ${mensagem}<br>`;
                                });
                            }

                            mostrarToast("Erros de Validação", mensagens, "danger");
                            aplicarMascaras();

                        } else {
                            mostrarToast("Erro", "Erro inesperado ao cadastrar contato.", "danger");
                        }
                    }
                });
            });
        });
    </script>

}
