@using ListaTelefonicaIACOApp.ViewModels
@model List<Colaborador>

@{
    ViewData["Title"] = "Agenda Telefônica - IACO";
}


<body>

    <header class="d-flex gap-3 
        justify-content-end 
        align-items-center"
    >
        
        <div style="width:80px; border-radius: 5px; background:#f9f9f9" class="d-flex align-items-center justify-content-center">
            <a style="height: 70px; width: 60px; justify-content: center" class="d-flex" asp-action="Create">
                <i class="bi bi-person-plus text-dark icon-add-colaborador"> </i>
            </a>
        </div>
        




    </header>
    <div style="background-color: #f9f9f9" class="p-4 rounded-3">
        <form class="row g-3 p-3 ">
            <div class="d-flex flex-column w-100 col-auto gap-3 m-0">
                <h2 class="col-auto border-1 border-bottom">Filtros</h2>

                <div class="row d-flex gap-5 col-auto justify-content-evenly">
                    <div class="col-auto campos-filtros">
                        <label for="Nome" class="">Nome</label>
                        <input type="text" class="form-control" id="Nome" placeholder="Nome">
                    </div>
                    <div class="col-auto campos-filtros">
                        <label for="Fixo" class="">Fixo</label>
                        <input type="text" class="form-control" id="Fixo" placeholder="Fixo">
                    </div>
                    <div class="col-auto campos-filtros">
                        <label for="Celular" class="">Celular</label>
                        <input type="text" class="form-control" id="Celular" placeholder="Celular">
                    </div>

                    <div class="col-auto campos-filtros">
                        <label for="Comercial" class="">Comercial</label>
                        <input type="text" class="form-control" id="Comercial" placeholder="Comercial">
                    </div>
                    <div class="col-auto campos-filtros">
                        <label for="Endereco" class="">Endereco</label>
                        <input type="text" class="form-control" id="Endereco" placeholder="Endereco">
                    </div>
                    <div class="col-auto campos-filtros">
                        <label for="Email" class="">Email</label>
                        <input type="text" class="form-control" id="Email" placeholder="Email">

                    </div>

                    <div style="height:50px" class="d-flex w-100 justify-content-center align-items-center col-auto">

                        <button style="width:100px" type="submit" class="btn btn-primary h-75">Buscar</button>

                    </div>
                </div>

                
            </div>
        </form>
    </div>
    

   
    @if (Model != null && Model.Any())
    {
        <div id="divTabela">
            @await Html.PartialAsync("_TabelaColaboradores", Model)
            @await Html.PartialAsync("_Paginacao", new PaginacaoViewModel {
            PaginaAtual = ViewBag.PaginaAtual,
                TotalPaginas = ViewBag.TotalPaginas,
                Action = "Index",
                Controller = "Colaborador"
                })
        </div>

    }

</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
            function carregarPagina(pagina) {
            // Atualiza a URL na barra do navegador
            const url = `/Colaborador/Index?pagina=${pagina}`;
            history.pushState(null, '', url);

            // Carrega os dados da tabela via AJAX
            $.get('/Colaborador/PaginaDados?pagina=' + pagina, function (html) {
                $('#divTabela').html(html);
            });
        }
    </script>
}
