@model ListaTelefonicaIACOApp.ViewModels.ContatoCadastroRequestViewModel

@{
    ViewData["Title"] = "Adicionar Contato - IACO";
}

<header style="height: 50px" class="d-flex w-100 justify-content-start">

    <div class="d-flex justify-content-start align-items-center h-100 w-100">
        <a style="background-color: #f9f9f9;  border-radius: 5px; width: 60px; padding: 10px" class="d-flex h-100 justify-content-center align-items-center" asp-action="Index">
            <i style="font-size:30px" class="bi bi-arrow-left  text-dark"></i>
        </a>
    </div>  
</header>

<div style="padding:10px; gap:30px " class="d-flex flex-column">
    <h2>Adicionar novo contato</h2>

    <form id="formCadastrarContato" class="row" method="post" asp-action="Create" asp-controller="Contato" style="gap:30px">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* ---------- Dados Pessoais ---------- *@
        <div class="row g-3 rounded-2 m-0 p-4" style="gap:20px;background-color: #f9f9f9">
            <h4>Dados Pessoais</h4>
            <div class="row">
                <div style="min-height:90px" class="form-group col-md-4">
                    <label asp-for="Nome"></label>
                    <input id="Nome" asp-for="Nome" class="form-control" placeholder="Ex: Ana" />
                    <span asp-validation-for="Nome" class="text-danger fs-12px"></span>
                </div>
                <div style="min-height:90px" class="form-group col-md-4">
                    <label asp-for="Sobrenome"></label>
                    <input id="Sobrenome" asp-for="Sobrenome" class="form-control" placeholder="Ex: Clara" />
                    <span asp-validation-for="Sobrenome" class="text-danger fs-12px"></span>
                </div>
                <div style="min-height:90px" class="form-group col-md-4">
                    <label asp-for="Fixo"></label>
                    <input id="Fixo" asp-for="Fixo" class="form-control telefone-fixo" placeholder="Ex: 11 2345-6789" />
                    <span asp-validation-for="Fixo" class="text-danger fs-12px"></span>
                </div>
            </div>
            <div class="row">
                <div style="min-height:90px" class="form-group col-md-6">
                    <label asp-for="Celular"></label>
                    <input id="Celular" asp-for="Celular" class="form-control telefone-celular" placeholder="Ex: 11 998877665" />
                    <span asp-validation-for="Celular" class="text-danger fs-12px"></span>
                </div>
                <div style="min-height:90px" class="form-group col-md-6">
                    <label asp-for="Comercial"></label>
                    <input id="Comercial" asp-for="Comercial" class="form-control telefone-comercial" placeholder="Ex: 61 3030-4040" />
                    <span asp-validation-for="Comercial" class="text-danger fs-12px"></span>
                </div>
                <div style="min-height:90px" class="form-group col-md-6">
                    <label asp-for="Email"></label>
                    <input id="Email" asp-for="Email" class="form-control" placeholder="Ex: Ana.clara@iaco.com" />
                    <span asp-validation-for="Email" class="text-danger fs-12px"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label asp-for="EnderecoId" class="form-label">Endereço</label>
                    <select asp-for="EnderecoId" class="form-select" asp-items="Model.Enderecos">
                        <option value="">Selecione um endereço</option>
                    </select>
                    <span asp-validation-for="EnderecoId" class="text-danger fs-12px"></span>
                </div>
            </div>
            <div style="height:fit-content" class="row align-items-center ps-4">
                 
                <div class="d-flex w-100 justify-content-start p-0">
                    <i style="width:10px" class="bi bi-exclamation-circle p-0" data-bs-toggle='tooltip' data-bs-placement='top' title='Caso o seu endereço não exista, crie ele apertando no botao.'></i>
                </div>

                <a asp-controller="Endereco" asp-action="Create" class="btn bg-primary col-auto text-white d-flex align-items-center" style="min-width: 180px; height:50px">
                    Cadastrar Endereço
                </a>
            </div>
        </div>
        
        @{
            /*
             * 
            @* ---------- Endereço ---------- *@
            <div class="row g-3 p-4 rounded-2 m-0" style="gap:20px;background-color: #f9f9f9">
            <h4>Endereço</h4>
            <div class="row">
            <div style="min-height:90px" class="form-group col-md-4">
            <label asp-for="Rua"></label>
            <input id="Rua" asp-for="Rua" class="form-control" placeholder="Ex: Rua das Flores" />
            <span asp-validation-for="Rua" class="text-danger fs-12px"></span>
            </div>
            <div style="min-height:90px" class="form-group col-md-4">
            <label asp-for="Numero"></label>
            <input id="Numero" asp-for="Numero" class="form-control" placeholder="Ex: 123" />
            <span asp-validation-for="Numero" class="text-danger fs-12px"></span>
            </div>
            <div style="min-height:90px" class="form-group col-md-4">
            <label asp-for="Bairro"></label>
            <input id="Bairro" asp-for="Bairro" class="form-control" placeholder="Ex: Centro" />
            <span asp-validation-for="Bairro" class="text-danger fs-12px"></span>
            </div>
            </div>
            <div class="row">
            <div style="min-height:90px" class="form-group col-md-6">
            <label asp-for="Cidade"></label>
            <input id="Cidade" asp-for="Cidade" class="form-control" placeholder="Ex: São Paulo" />
            <span asp-validation-for="Cidade" class="text-danger fs-12px"></span>
            </div>
            <div style="min-height:90px" class="form-group col-md-6">
            <label asp-for="CEP"></label>
            <input id="CEP" asp-for="CEP" class="form-control cep" placeholder="Ex: 01001-000" />
            <span asp-validation-for="CEP" class="text-danger fs-12px"></span>
            </div>
            </div>
            <div class="row">
            <div style="min-height:90px" class="form-group col-md-12">
            <label asp-for="Complemento"></label>
            <input id="Complemento" asp-for="Complemento" class="form-control" placeholder="Ex: Apt 101, Bloco B" />
            <span asp-validation-for="Complemento" class="text-danger fs-12"></span>
            </div>
            </div>
            </div>


              
             */
        }

      

        <div style="height:50px" class="row d-flex justify-content-end col-auto w-100">
            <button type="button" id="btnCadastrarContato" class="btn btn-primary h-100 col-auto" style="min-width: 180px">Cadastrar Contato</button>
        </div>
       
    </form>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
        <div class="d-flex gap-2 toast-header">
            <i style="color:green" class="bi bi-check-circle fs-6"></i>
            <strong class="me-auto text-success">Sucesso</strong>
        </div>
        <div class="toast-body text-success">
            Cadastro realizado com sucesso.
        </div>
    </div>
</div>
            

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {

            //APLICANDO MÁSCARAS
            $('#Fixo').mask('(00) 0000-0000');
            $('#Celular').mask('(00) 00000-0000');
            $('#Comercial').mask('(00) 0000-0000');
            $('#CEP').mask('00000-000');

            $('#btnCadastrarContato').on('click', function (e) {
                e.preventDefault();

                const form = $('#formCadastrarContato');

                if (!form.valid()) {
                    return;
                }

                // ✅ SOMENTE FUNCIONA SE A MÁSCARA FOI APLICADA
                $('#Fixo').val($('#Fixo').cleanVal());
                $('#Celular').val($('#Celular').cleanVal());
                $('#Comercial').val($('#Comercial').cleanVal());
                $('#CEP').val($('#CEP').cleanVal());

                const formData = new FormData(form[0]);

                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                            console.log("Resposta recebida:", response);

                            if (response.sucesso) {
                                var toastLiveExample = document.getElementById('liveToast');
                                var toast = new bootstrap.Toast(toastLiveExample);
                                toast.show();

                                setTimeout(() => {
                                    window.location.href = '/Contato/Index';
                                }, 2000);
                            }

                    },
                    error: function (xhr) {
                        console.error("Erro:", xhr.responseText);
                    }
                });
            });
        });
    </script>

}

