@model ListaTelefonicaIACOApp.ViewModels.PaginacaoViewModel

<div style="height: 60px" class="d-flex col-auto justify-content-end align-items-center">
    <nav class="" aria-label="Paginação">
        <ul class="pagination mb-0">

           
            @if (Model.PaginaAtual > 1)
            {
            
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" onclick="carregarPagina(@(Model.PaginaAtual - 1))">Anterior</a>
                </li>
            
            }
            

            @for (int i = 1; i <= Model.TotalPaginas; i++)
            {
                <li class="page-item @(i == Model.PaginaAtual ? "active" : "")">
                    <a class="page-link" href="javascript:void(0)" onclick="carregarPagina(@i)">@i</a>

                </li>
            }
             
            @if (Model.PaginaAtual < Model.TotalPaginas)
            {
          

                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" onclick="carregarPagina(@(Model.PaginaAtual + 1))">Próximo</a>
                </li>
            
            }
            
        </ul>
    </nav>

</div>
